* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#sidebar > * {
    margin-left: 40px;
}

button {
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin: 50px auto;
}

.square {
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-rows: repeat(3, 200px);
    background-color: black;
    background-image: none;
    background-position: center;
}

#r1c1 {
    border: solid 4px white;
}

#r0c1 {
    border-left: solid 4px white;
    border-right: solid 4px white;
    border-image: linear-gradient(to top, white, black) 1;
}

#r1c0 {
    border-top: solid 4px white;
    border-bottom: solid 4px white;
    border-image: linear-gradient(to left, white, black) 1;  
}

#r1c2 {
    border-top: solid 4px white;
    border-bottom: solid 4px white;
    border-image: linear-gradient(to right, white, black) 1;  
}

#r2c1 {
    border-left: solid 4px white;
    border-right: solid 4px white;
    border-image: linear-gradient(to bottom, white, black) 1;  
}